@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Medium.woff2") format("woff2");
}

:root {
  background-color: #ffffff;
}

body {
  background-color: #191919;
  font-family: "Pretendard";
  max-width: 400px;
  min-height: 100dvh;
  margin: 0 auto;
  padding-bottom: 32px;
}

@layer base {
  img {
    @apply inline-block;
  }
}
